@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="position: absolute;
    bottom:60%;
    right:23%;
    margin: auto;">
    <h1 class="display-4" >Welcome To Our NeutronTMS</h1>

</div>
